.u-center-text {
  text-align: center;
}
.u-margin-bottom-huge {
  margin-bottom: 10rem;
}
.u-margin-bottom-big {
  margin-bottom: 8rem;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.margin-top-min{
  margin-top: -1rem;
}

.margin-top{
  margin-top: 3rem;
}